header {
  margin: 0 auto;
  padding: 2rem;
  width: 600px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.nav-list {
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #000;
}
