@font-face {
  font-family: PP mori;
  src: url(./assets/ppmori.ttf);
}

:root {
  font-family: PP mori;
  font-size: 16px;
  line-height: calc(1em + 0.5rem);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e7d9ca;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

span {
  overflow: hidden;
  display: block;
}

h1,h2,h3 {
  text-transform: uppercase;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  font-weight: 600;
  background-color: #ffc35c;
  cursor: pointer;
  padding: .25rem .5rem;
  gap: .25rem;
}

button:disabled {
  opacity: 0.25;
}

input {
  border: 2px solid #000;
  outline: none;
  padding: .25rem .5rem;

}

output {
  padding-left: .25rem;
}

.section {
  border: 2px solid #000;
  padding: 1rem;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  font-weight: 600;
  background-color: #ffc35c;
  cursor: pointer;
  padding: .25rem .5rem;
  gap: .25rem;
}

.btn-del {
  background-color: #e05242;
}

.input-box {
  display: flex;
  gap: .5rem;
  margin-bottom: .25rem;
}

.input-box label {
  width: 60px;
  font-weight: 600;
}

.input-box input {
  flex: 2;

}

.input-box label {
  margin: auto 0;
}


.box {
  max-width: 460px;
  margin: 0 auto;
}

.btn-del {
  background-color: #e05242;
}



.active {
  background-color: #e05242;
}

.bx {
  font-size: 20px;
  font-weight: 500;
}
